@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /* max-width: 1600px; */
  text-align: center;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

.font-play {
  font-family: 'Playfair Display', serif;
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}


/* @media screen and (max-width: 426px) {
  #root {
    margin-right: 10px;
    margin-left: 10px;
  }
} */
